<a href="https://colab.research.google.com/github/paulanavarretec/Fundamentos_Data_Science/blob/main/13_Regresion_desde_el_aprendizaje_de_maquinas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafío \#13- Regresión desde el aprendizaje de máquinas

# Desafío 1: Prepare el ambiente de trabajo
* Importe las librerías básicas para el análisis de datos.
* Importe el módulo linear_model , y las funciones mean_squared_error , r2_score
y train_test_split .
* Importe la base de datos boston.csv y elimine la columna Unnamed: 0 .
* Obtenga las medidas descriptivas de la base de datos con .describe() .

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#import statsmodels.api as sm
#import statsmodels.formula.api as smf
#import scipy.stats as stats
#import statsmodels as sm
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score


import warnings
warnings.filterwarnings(action='ignore')

pd.set_option("display.precision", 2)
df = pd.read_csv('boston.csv').drop(columns='Unnamed: 0')
df.head()

       crim    zn  indus  chas   nox  ...  tax  ptratio   black  lstat  medv
0  6.32e-03  18.0   2.31     0  0.54  ...  296     15.3  396.90   4.98  24.0
1  2.73e-02   0.0   7.07     0  0.47  ...  242     17.8  396.90   9.14  21.6
2  2.73e-02   0.0   7.07     0  0.47  ...  242     17.8  392.83   4.03  34.7
3  3.24e-02   0.0   2.18     0  0.46  ...  222     18.7  394.63   2.94  33.4
4  6.91e-02   0.0   2.18     0  0.46  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  black    506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [6]:
df.describe()

           crim      zn   indus    chas  ...  ptratio   black   lstat    medv
count  5.06e+02  506.00  506.00  506.00  ...   506.00  506.00  506.00  506.00
mean   3.61e+00   11.36   11.14    0.07  ...    18.46  356.67   12.65   22.53
std    8.60e+00   23.32    6.86    0.25  ...     2.16   91.29    7.14    9.20
min    6.32e-03    0.00    0.46    0.00  ...    12.60    0.32    1.73    5.00
25%    8.20e-02    0.00    5.19    0.00  ...    17.40  375.38    6.95   17.02
50%    2.57e-01    0.00    9.69    0.00  ...    19.05  391.44   11.36   21.20
75%    3.68e+00   12.50   18.10    0.00  ...    20.20  396.23   16.96   25.00
max    8.90e+01  100.00   27.74    1.00  ...    22.00  396.90   37.97   50.00

[8 rows x 14 columns]

# Desafío 2: División de la muestra
* Genere conjuntos de entrenamiento y pruebas con train_test_split .
* Reserve un 33% de la muestra para el conjunto de pruebas.
* Incluya una semilla pseudoaleatoria a su elección, esto lo puede hacer con el
argumento random_state dentro del método train_test_plit.

In [7]:
from sklearn.model_selection import train_test_split
y = df['medv']
X = df.drop(columns='medv')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

# Desafío 3: Generación de modelos
* Ahora implementaremos dos versiones del modelo lineal:
  * Con intercepto y atributos normalizados.
  * Sin intercepto y atributos no normalizados.
+ Cada versión debe generarse en un nuevo objeto inicializado.
+ Posteriormente se deben entrenar los modelos especificando la matriz y vector de entrenamiento.
+ Con los modelos entrenados, genere una predicción de la matriz de pruebas con el método .predict().

In [8]:
modelo1 = linear_model.LinearRegression(fit_intercept=True , normalize=True)
modelo2 = linear_model.LinearRegression(fit_intercept=False , normalize=False)

modelo1.fit(X_train, y_train)
modelo2.fit(X_train, y_train)

medv_yhat1 = modelo1.predict(X_test)
medv_yhat2 = modelo2.predict(X_test)

# Desafío 4: Obtención de métricas
+ Ahora generaremos una función llamada report_scores que ingrese como
argumentos el vector de datos predichos y el vector de datos por validar.
+ La función debe imprimir las métricas del Error Cuadrático Promedio y R2.
+ Reporte las métricas para ambos modelos. En base a ello, seleccione el mejor
modelo.

In [9]:
def report_scores(y_true, y_pred):
  mse = mean_squared_error(y_true, y_pred). round(1)
  r2 = r2_score(y_true, y_pred). round(2)
  print('   Mean Squared Error : ', mse)
  print('   R-cuadrado:', r2)
  
print('Modelo 1: Con intercepto y atributos normalizados')
report_scores(medv_yhat1, y_test)
print('Modelo 2: Sin intercepto y atributos no normalizados')
report_scores(medv_yhat2, y_test)

Modelo 1: Con intercepto y atributos normalizados
   Mean Squared Error :  26.6
   R-cuadrado: 0.56
Modelo 2: Sin intercepto y atributos no normalizados
   Mean Squared Error :  28.0
   R-cuadrado: 0.55

El mejor modelo es el primero (con intercepto y atributos normalizados) ya que presenta un $r^2$ mayor y menor MSE que el segundo.

# Desafío 5: Refactorización del modelo
+ Genere una función llamada fetch_features que ingrese como argumentos la base
de datos y el nombre del vector objetivo. El nombre del vector debe ser medv por
defecto.
+ La función debe retornar una lista con las correlaciones entre cada atributo y el vector objetivo y su nombre.
+ Reporte brevemente cuales son los 6 atributos con una mayor correlación absoluta con medv (de mayor a menor correlación).

In [10]:
def fetch_features(df, target = 'medv'):
  y = df[target]
  X = df.drop(columns='medv')

  corr = {}
  for predictor in X.columns:    
    corr[predictor] = df[target].corr(df[predictor]).round(3)
    #print('Corr({},{}): {}'.format(target,predictor, corr[target] ))
  return corr

x = fetch_features(df)
sorted_corrs = sorted(x.items(), key=lambda x: abs(x[1]), reverse=True)

print('Atributos con una mayor correlación absoluta con medv\n')
for i in sorted_corrs[:6]:
	print(i[0],':', i[1])

Atributos con una mayor correlación absoluta con medv

lstat : -0.738
rm : 0.695
ptratio : -0.508
indus : -0.484
tax : -0.469
nox : -0.427

In [28]:
def fetch_features(df, target = 'medv'):
  y = df[target]
  X = df.drop(columns='medv')

  corr = {}
  for predictor in X.columns:    
    corr[predictor] = df[target].corr(df[predictor]).round(3)
    #print('Corr({},{}): {}'.format(target,predictor, corr[target] ))

  features = pd.DataFrame({'attribute' : corr.keys(),
                           'corr': corr.values(),
                           'abs_corr': abs(pd.Series(corr.values()))
                           })
  return features

sorted_corrs = fetch_features(df).set_index('attribute').sort_values(by='abs_corr', ascending = False)

print('Atributos con una mayor correlación absoluta con medv:')
for i in sorted_corrs.index[:6]:
  print('  '+i+': '+str(sorted_corrs.loc[i,'abs_corr']))

Atributos con una mayor correlación absoluta con medv:
  lstat: 0.738
  rm: 0.695
  ptratio: 0.508
  indus: 0.484
  tax: 0.469
  nox: 0.427

# Desafío 6: Refactorización del modelo predictivo
+ Genere otros conjuntos de entrenamiento y validación en base a una matriz con los 6 atributos identificados en el ejercicio anterior, y el vector objetivo.
+ Entrene un modelo en base al mejor desempeño.
+ Reporte las métricas para el nuevo modelo.

In [25]:
y = df['medv']
X = df.drop(columns='medv')[sorted_corrs.index[:6]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)
modelo3 = linear_model.LinearRegression(fit_intercept=True , normalize=True)
modelo3.fit(X_train, y_train)
medv_yhat3 = modelo3.predict(X_test)

print('Modelo 3: Con intercepto y atributos con mayor correlación absoluta normalizados')
report_scores(medv_yhat3, y_test)

Modelo 3: Con intercepto y atributos con mayor correlación absoluta normalizados
   Mean Squared Error :  32.5
   R-cuadrado: 0.46

# Desafío 7: Predicción de casos
+ A continuación se generaron dos arrays que representan el peor escenario posible (`worst_neighbor`) y el mejor escenario posible (`best_neighbor`). Las variables representan, para cada caso, los valores de los siguientes atributos (en el mismo orden entregado): `'lstat', 'rm', 'ptratio', 'indus', 'tax', 'nox'`.



```
worst_neighbor = np.array([37.9, 12.6, 3.5, 27.7, 187, 0.87]).reshape(1,-1)
best_neighbor = np.array([1.73, 22, 8.7, 0.46, 711, 0.38]).reshape(1,-1)
```
+ Ingrese los arrays en el modelo entrenado en el ejercicio anterior, y reporte la predicción entregada por el modelo.

In [26]:
worst_neighbor = np.array([37.9, 12.6, 3.5, 27.7, 187, 0.87]).reshape(1, -1)
best_neighbor = np.array([1.73, 22, 8.7, 0.46, 711, 0.38]).reshape(1, -1)

worst_yhat = modelo3.predict(worst_neighbor)
best_yhat = modelo3.predict(best_neighbor)

print('Valor medio para el peor escenario posible', worst_yhat[0].round(1))
print('Valor medio para el mejor escenario posible', best_yhat[0].round(1))

Valor medio para el peor escenario posible 54.9
Valor medio para el mejor escenario posible 109.6