# Desafío 1: Generación de funciones

* Genere funciones para calcular la media y varianza de un vector. Debe cumplir con los siguientes requisitos:

    * Ambas funciones deben ingresar un argumento x correspondiente al vector.
    * Las funciones deben contener docstrings con la documentación asociada a la variable y retornar un valor utilizando return.
    * La función de la varianza debe llamar a la función de la media.

In [1]:
import numpy as np
def media(x):
    '''
        Retorna el promedio de los números de una lista, vector o arreglo.

                Parameters:
                        x (list): lista con al menos un número

                Returns:
                        mean(float): promedio de los números de la lista
    '''
    return np.mean(x)

def varianza(x):
    
    '''
        Retorna la varianza de los números de una lista, vector o arreglo.

                Parameters:
                        x (list): lista con al menos un número

                Returns:
                        variaza(float): variaza de los números de la lista
    '''
    
    return round(np.sum((x - media(x))**2)/len(x),2)

x = [1,2,3,4]
print(media(x))
print(varianza(x))

2.5
1.25

In [2]:
print(media.__doc__)
print(varianza.__doc__)

        Retorna el promedio de los números de una lista, vector o arreglo.

                Parameters:
                        x (list): lista con al menos un número

                Returns:
                        mean(float): promedio de los números de la lista


        Retorna la varianza de los números de una lista, vector o arreglo.

                Parameters:
                        x (list): lista con al menos un número

                Returns:
                        variaza(float): variaza de los números de la lista

* Utilice las funciones para reportar la información sobre goles_favor, goles_contra y puntos.

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('worldcup2014.csv')
df.head()

          team     continent group  ...  goles_diferencia  puntos  clasificado
0       Brazil  southamerica     A  ...                 5       7            1
1       Mexico  northamerica     A  ...                 3       7            1
2      Croatia        europe     A  ...                 0       3            0
3     Cameroon        africa     A  ...                −8       0            0
4  Netherlands        europe     B  ...                 7       9            1

[5 rows x 13 columns]

In [4]:
print('El promedio de goles a favor en la muestra es de {} y su varianza es de {}'.format(media(df['goles_favor']),varianza(df['goles_favor'])))
print('El promedio de goles en contra en la muestra es de {} y su varianza es de {}'.format(media(df['goles_contra']),varianza(df['goles_contra'])))
print('El promedio de puntos en la muestra es de {} y su varianza es de {}'.format(media(df['puntos']),varianza(df['puntos'])))

El promedio de goles a favor en la muestra es de 4.25 y su varianza es de 5.19
El promedio de goles en contra en la muestra es de 4.25 y su varianza es de 4.81
El promedio de puntos en la muestra es de 4.21875 y su varianza es de 8.05

# Desafío 2:

Utilizando el método groupby de la clase DataFrame, en conjunto con la función .agg de pandas, calcule la media, la varianza y desviación estándar de la cantidad de goles a favor, en contra y de la cantidad de puntos por continente.

In [5]:
df.groupby(['continent']).agg({'goles_favor' : ['sum', 'mean', 'var'], 'goles_contra' : ['sum', 'mean', 'var'], 'puntos' : ['sum', 'mean', 'var']})

             goles_favor                      ... puntos
                     sum      mean       var  ...    sum      mean        var
continent                                     ...
africa                18  3.600000  3.300000  ...     12  2.400000   3.300000
asia                   9  2.250000  0.916667  ...      3  0.750000   0.250000
europe                62  4.769231  6.858974  ...     61  4.692308   6.897436
northamerica          13  3.250000  2.250000  ...     18  4.500000  11.000000
southamerica          34  5.666667  4.666667  ...     41  6.833333   3.766667

[5 rows x 9 columns]

* ¿En qué continente se observa una mayor cantidad de goles a favor?

RP. Europa reporta la mayor cantidad de goles a favor, con un total de 62 goles.

* ¿En qué continente se observa una mayor cantidad de goles en contra?

RP. Europa reporta la mayor cantidad de goles en contra, con un total de 52 goles.

* ¿En qué continente se observa una mayor cantidad de puntos en promedio?

RP. Sudamérica reporta la mayor cantidad de puntos en promedio, con una media de 6.8 puntos

# Desafío 3: Simulaciones

* Genere una función generate_pet que devuelva de forma aleatoria un string 'perro' o 'gato' un número n de veces. Ejecútela un par de veces.
    * Tip: Puede utilizar la función np.random.choice para retornar elementos al azar.

In [6]:
def generate_pet():
    return np.random.choice(['perro','gato'])

for i in np.arange(4):
    print(generate_pet())

perro
gato
perro
gato

* Aplique la función generate_pet para generar 20 muestras.

In [7]:
muestras = []
for i in np.arange(20):
    muestras.append(generate_pet())
    print('{}.- {}'.format(i+1,muestras[i]))

1.- perro
2.- gato
3.- gato
4.- perro
5.- perro
6.- gato
7.- gato
8.- gato
9.- perro
10.- gato
11.- perro
12.- gato
13.- perro
14.- gato
15.- perro
16.- perro
17.- gato
18.- gato
19.- perro
20.- perro

* ¿Cuál es la probabilidad de elegir un perro al azar? ¿Y un gato?

In [8]:
muestras = pd.DataFrame(muestras, columns=['mascota'])
P_perro = float(muestras[muestras['mascota']=='perro'].count()/muestras['mascota'].count())
P_gato = float(muestras[muestras['mascota']=='gato'].count()/muestras['mascota'].count())

print('La probabilidad de elegir un perro al azar es de {}%'.format(P_perro*100))
print('La probabilidad de elegir un gato al azar es de {}%'.format(P_gato*100))

La probabilidad de elegir un perro al azar es de 50.0%
La probabilidad de elegir un gato al azar es de 50.0%

* Agregue np.random.seed(2) al inicio del chunk. ¿Qué diferencia hay cuando se ejecuta la función varias veces luego de fijar la semilla?

In [9]:
for i in np.arange(4):
            
    muestras = pd.DataFrame([generate_pet() for i in np.arange(20)], columns=['mascota'])
    P_perro = float(muestras[muestras['mascota']=='perro'].count()/muestras['mascota'].count())
    P_gato = float(muestras[muestras['mascota']=='gato'].count()/muestras['mascota'].count())
    
    print('La probabilidad de elegir un perro al azar es de {}%'.format(P_perro*100))
    print('La probabilidad de elegir un gato al azar es de {}%\n'.format(P_gato*100))
    

print('Utilizando np.random.seed(2)\n')

for i in np.arange(4):
    
    np.random.seed(2)
    muestras = pd.DataFrame([generate_pet() for i in np.arange(20)], columns=['mascota'])
    
    P_perro = float(muestras[muestras['mascota']=='perro'].count()/muestras['mascota'].count())
    P_gato = float(muestras[muestras['mascota']=='gato'].count()/muestras['mascota'].count())
    
    print('La probabilidad de elegir un perro al azar es de {}%'.format(P_perro*100))
    print('La probabilidad de elegir un gato al azar es de {}%\n'.format(P_gato*100))

La probabilidad de elegir un perro al azar es de 40.0%
La probabilidad de elegir un gato al azar es de 60.0%

La probabilidad de elegir un perro al azar es de 60.0%
La probabilidad de elegir un gato al azar es de 40.0%

La probabilidad de elegir un perro al azar es de 65.0%
La probabilidad de elegir un gato al azar es de 35.0%

La probabilidad de elegir un perro al azar es de 50.0%
La probabilidad de elegir un gato al azar es de 50.0%

Utilizando np.random.seed(2)

La probabilidad de elegir un perro al azar es de 40.0%
La probabilidad de elegir un gato al azar es de 60.0%

La probabilidad de elegir un perro al azar es de 40.0%
La probabilidad de elegir un gato al azar es de 60.0%

La probabilidad de elegir un perro al azar es de 40.0%
La probabilidad de elegir un gato al azar es de 60.0%

La probabilidad de elegir un perro al azar es de 40.0%
La probabilidad de elegir un gato al azar es de 60.0%

Con el reinicio de semilla aleatoria (cada vez), el mismo conjunto de números aparecerá cada vez. Si la semilla aleatoria no se restablece, aparecen diferentes números con cada invocación:

# Desafío 4: Función simuladora

* Genere una función llamada simulate_pets_prob que tome como argumento un número finito de simulaciones a generar.
* La función debe simular dos situaciones young_pet y old_pet, y contar la ocurrencia de los siguientes casos:
    * De las dos mascotas simuladas (young y old), contar las ocasiones donde por lo menos una de las mascotas sea un perro.
    * De las dos mascotas simuladas, contar las ocasiones donde old_pet sea un perro.
    * De las dos mascotas simuladas, contar las ocasiones donde los dos sean perros.
* El método debe tener una semilla pseudoaleatoria de 1.
* El output de la función debe entregarse en términos de Probabilidad.
* De los tres escenarios, ¿Cuál es el menos probable? ¿Cuál es el más probable? ¿Por qué?

In [10]:
def simulate_pets_prob(n):
    
    np.random.seed(0); young_pet = pd.DataFrame([generate_pet() for i in np.arange(n)], columns=['young'])
    np.random.seed(1); old_pet = pd.DataFrame([generate_pet() for i in np.arange(n)], columns=['old'])

    # De las dos mascotas simuladas (young y old), contar las ocasiones donde por lo menos 
    # una de las mascotas sea un perro.
    filtro1 = (young_pet['young']=='perro') | (old_pet['old']=='perro')
    
    # De las dos mascotas simuladas, contar las ocasiones donde old_pet sea un perro.
    filtro2 = old_pet['old']=='perro'
    
    # De las dos mascotas simuladas, contar las ocasiones donde los dos sean perros.
    filtro3 = (young_pet['young']=='perro') & (old_pet['old']=='perro')
    
    simulaciones = pd.concat([young_pet , old_pet], axis=1)

    print('Ocasiones donde al menos una de las mascotas es un perro: {}'.format(len(simulaciones[filtro1].index)/n))
    print('Ocasiones donde old_pet es un perro: {}'.format(len(simulaciones[filtro2].index)/n))
    print('Ocasiones donde los dos son perros: {}'.format(len(simulaciones[filtro3].index)/n))
    
    return young_pet,old_pet

young_pet , old_pet = simulate_pets_prob(10000)
simulaciones = pd.concat([young_pet , old_pet], axis=1)

simulaciones

Ocasiones donde al menos una de las mascotas es un perro: 0.7509
Ocasiones donde old_pet es un perro: 0.5006
Ocasiones donde los dos son perros: 0.2412

      young    old
0     perro   gato
1      gato   gato
2      gato  perro
3     perro  perro
4      gato   gato
...     ...    ...
9995  perro  perro
9996   gato   gato
9997  perro   gato
9998   gato  perro
9999  perro   gato

[10000 rows x 2 columns]

El escenario menos probable es el 3, donde los dos son perros (25% aprox), y el escenario más probables es el 1, donde al menos una de las mascotas es un perro (75% aprox). 

Esto se debe a que el primer escenario se refiere a eventos independientes, por lo tanto sus probabilidades se suman, en cambio el tercer escenario refiere a eventos dependientes, por lo tanto sus probabilidades se multiplican. Esto último implica que, a menos que uno de los dos eventos dependientes ocurra siempre (probabilidad igual 1), la probabilidad conjunta solo disminuirá al ponderar ambas.