<a href="https://colab.research.google.com/github/paulanavarretec/Fundamentos_Data_Science/blob/main/Desafios/02_Control_de_Flujo/02_Control_de_Flujo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafío 1
Generar un par de arrays ficticios con numpy.

Tip: Utilice la función linspace para generar un array entre 1 y 50, y un array entre 50 y 150.

In [1]:
import numpy as np

arr1 = np.linspace(1,50,dtype=int)
arr2 = np.linspace(50,150,dtype=int)
print(arr1)
print(arr2)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]
[ 50  52  54  56  58  60  62  64  66  68  70  72  74  76  78  80  82  84
  86  88  90  92  94  96  98 101 103 105 107 109 111 113 115 117 119 121
 123 125 127 129 131 133 135 137 139 141 143 145 147 150]

# Desafío 2

Ejecute un loop que devuelva si el número en el primer array es par o impar.

Tip: Utilice la función módulo para encontrar si el número es divisible por 2.

In [2]:
# Utilizando Comprensiones
es_par = [ (str(i)+' es par') if i%2==0 else (str(i)+' es impar') for i in arr1]
print(es_par)

['1 es impar', '2 es par', '3 es impar', '4 es par', '5 es impar', '6 es par', '7 es impar', '8 es par', '9 es impar', '10 es par', '11 es impar', '12 es par', '13 es impar', '14 es par', '15 es impar', '16 es par', '17 es impar', '18 es par', '19 es impar', '20 es par', '21 es impar', '22 es par', '23 es impar', '24 es par', '25 es impar', '26 es par', '27 es impar', '28 es par', '29 es impar', '30 es par', '31 es impar', '32 es par', '33 es impar', '34 es par', '35 es impar', '36 es par', '37 es impar', '38 es par', '39 es impar', '40 es par', '41 es impar', '42 es par', '43 es impar', '44 es par', '45 es impar', '46 es par', '47 es impar', '48 es par', '49 es impar', '50 es par']

In [3]:
# Utilizando loops
for i in arr1:
  print((str(i)+' es par') if i%2==0 else (str(i)+' es impar'))

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par
11 es impar
12 es par
13 es impar
14 es par
15 es impar
16 es par
17 es impar
18 es par
19 es impar
20 es par
21 es impar
22 es par
23 es impar
24 es par
25 es impar
26 es par
27 es impar
28 es par
29 es impar
30 es par
31 es impar
32 es par
33 es impar
34 es par
35 es impar
36 es par
37 es impar
38 es par
39 es impar
40 es par
41 es impar
42 es par
43 es impar
44 es par
45 es impar
46 es par
47 es impar
48 es par
49 es impar
50 es par

# Desafío 3
Genere un loop con el segundo array que cuente las siguientes condiciones:

* Si el número es divisible por 2 o 3.
* Si el número es divisible por 2 y 3.
* Si el número es divisible por 3 pero no por 2.
* si el número no es divisible por 2 ni 3.

In [4]:
condiciones = {0 :'ser divisible por 2 o 3.',
               1 :'ser divisible por 2 y 3.',
               2 :'ser divisible por 3 pero no por 2.',
               3 :'no ser divisible por 2 ni 3.'
               }
contador = {0 : 0, 
            1 : 0,
            2 : 0,
            3 : 0 
            }
              
for i in arr2:
  if (i%2==0) | (i%3==0):
    contador[0] = contador[0] + 1

  if (i%2==0) & (i%3==0):
    contador[1] = contador[1] + 1
  
  if (not(i%2==0)) & (i%3==0):
    contador[2] = contador[2] + 1

  if (not(i%2==0)) & (not(i%3==0)):
    contador[3] = contador[3] + 1

for idx, enunciado in condiciones.items():
  print('- {} números en el arr2 cumplen con {}'.format(contador[idx],enunciado))

- 34 números en el arr2 cumplen con ser divisible por 2 o 3.
- 9 números en el arr2 cumplen con ser divisible por 2 y 3.
- 8 números en el arr2 cumplen con ser divisible por 3 pero no por 2.
- 16 números en el arr2 cumplen con no ser divisible por 2 ni 3.

# Desafío 4

Corrección de errores.

In [6]:
for i in range(100):
  print(I**2)

NameError: ignored

Rp: La variable 'I' no se reconoce, Python es case sensitive por lo que debemos llamar a las variables tal como las declaramos

In [7]:
for i in range(100):
  print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

# Desafío 5

Utilizando la misma base flights.csv hacer un loop y clasificar los meses con una cantidad de pasajeros menor a la media

* Para ello, generen un nuevo objeto que represente la media de passenger

In [8]:
# Connections & imports
from google.colab import drive 
import pandas as pd
import numpy as np

drive.mount("/content/gdrive")

# specify the file names
file_name = 'gdrive/My Drive/Colab Notebooks/Desafio_Latam/flights.csv'# <- Periodo 0
df = pd.read_csv(file_name)

Mounted at /content/gdrive

* Generen una columna en la base de datos que se llame $underperforming$ y asígnele 0.

In [9]:
df['underperforming'] = 0
df.head()

   year     month  passengers  underperforming
0  1949   January         112                0
1  1949  February         118                0
2  1949     March         132                0
3  1949     April         129                0
4  1949       May         121                0

* Ejecuten un loop que recorra cada observación de passengers, donde si la observación es menor a la media de passengers se le asigne a $underperforming$ un 1. 

    Para asignar unos en la columna underperforming ya creada, para ello utilice la función at de pandas.

In [10]:
 passengers_mean = np.mean(df['passengers'])
 
 for row in df.iterrows():
   if row[1]['passengers'] < passengers_mean: 
     df.at[row[0], 'underperforming'] = 1 
  
df

     year      month  passengers  underperforming
0    1949    January         112                1
1    1949   February         118                1
2    1949      March         132                1
3    1949      April         129                1
4    1949        May         121                1
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

# Desafío 6

Hacer un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la tendencia.

* Para ello, genere dos objetos que guarden la media general y la desviación estándar general de passengers.

In [11]:
passengers_mean = np.mean(df['passengers'])
passengers_std = np.std(df['passengers'])

* Genere una nueva columna en la tabla de datos que se llame outlier y asignele 0.

In [12]:
df['outlier'] = 0
df.head()

   year     month  passengers  underperforming  outlier
0  1949   January         112                1        0
1  1949  February         118                1        0
2  1949     March         132                1        0
3  1949     April         129                1        0
4  1949       May         121                1        0


* Ejecuten un loop que recorra cada observación de passengers, donde si la observación se escapa de la tendencia sea 1, de lo contrario 0.

* Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer una de las siguientes condiciones:

     * La observación debe ser menor a la media menos la desviación estándar,
     * La observación debe ser mayor a la media más la desviación estándar.
     * ¿Cuántas observaciones se pueden clasificar como casos extremos?

In [13]:
for row in df.iterrows():
  if ( (row[1]['passengers'] < passengers_mean - passengers_std) 
   | (row[1]['passengers'] > passengers_mean + passengers_std) ): 
    df.at[row[0], 'outlier'] = 1 
  
print('Se encontraron {} observaciones atípicas (outliers).'.format(df['outlier'].sum()))

Se encontraron 53 observaciones atípicas (outliers).